@media all and (min-width: 1200px) {
  header {
    height: 120px;
    box-shadow: none;
    position: absolute;
    background-color: transparent;
  }

  .hWrap {
    position: relative;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
  }

  header.on {
    transition: all 0.5s linear;
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--main-color-light);
  }
  header.on h1 {
    z-index: 30;
    position: absolute;
    left: 0;
    top: 20px;
    width: auto;
    padding-top: 0;
  }

  header.on nav {
    position: absolute;
    top: 40px;
    left: 150px;
  }
  header h1 {
    text-align: left;
    padding-top: 20px;
  }
  header h1 img {
    height: 60px;
  }
  header.on .sub {
    background-color: #fff;
  }

  .navOpen {
    display: none;
  }

  nav {
    display: block !important;
    font-size: 1rem;
    position: absolute;
    top: 40px;
    padding: 0;
    height: auto;
    width: auto;
    right: 0;
    left: unset;
    background-color: transparent;
  }

  .gnb {
    display: flex;
    font-family: "Quicksand", sans-serif;
  }

  .gnb > li {
    margin-left: var(--margin-2);
    padding: 0;
  }
  .gnb > li > a {
    line-height: normal;
    border: 0;
    font-size: 18px;
  }
  .gnb > li:before {
    content: none;
  }
  .sub {
    background-color: rgba(204, 204, 204, 0.637);
    position: absolute;
    top: 22px;
    left: 50%;
    margin-left: -75px;
    width: 150px;
    box-sizing: border-box;
    text-align: center;
    text-indent: 0;
  }
  .sub li a {
    border-bottom: #ccc;
  }
  .sub li a:hover {
    background-color: rgba(230, 230, 230, 0.5);
  }
}
