
.banner {
  margin-top: 60px;
  background-image: url(../images/mainHeaderBg.png);
  background-size: cover;
  background-position: center;
  padding: var(--margin-2) 0;
}

.banner .photo {
  width: 80vw;
  height: 60vw;
  margin: 0 auto var(--margin-2);
  background-color: beige;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
}

.p1,
.p2,
.p3,
.p4 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vw;
  width: 80vw;
}
.p1 {
  background-image: url(../images/main/bn1.png);
}
.p2 {
  background-image: url(../images/main/bn2.png);
}
.p3 {
  background-image: url(../images/main/bn3.png);
}
.p4 {
  background-image: url(../images/main/bn4.png);
}

.banner .txt {
  text-align: center;
  padding: 0 var(--margin-half);
}

.banner h2 {
  font-family: "Quicksand";
  font-weight: 400;
  font-size: 24px;
  color: var(--font-color-main);
  margin-bottom: var(--margin-half);
}

.banner p {
  text-align: justify;
}

main {
  padding: 0 var(--margin-half);
}

#brands h3 {
  color: var(--font-color-main);
  font-size: 24px;
  text-align: center;
  font-family: "Quicksand";
  font-weight: 100;
  margin-bottom: var(--margin-1);
}
#brands {
  margin-top: var(--margin-2);
}

.brandItem {
  width: 100%;
  position: relative;
  margin-bottom: var(--margin-half);
}

.brandBg {
  width: 100%;
  position: relative;
  z-index: 2;
}
#brands h4 {
  position: absolute;
  z-index: 3;
  top: var(--margin-1);
  left: var(--margin-1);
}

#brands h4 span {
  display: block;
  font-size: 12px;
  color: var(--font-color-sub);
  margin-top: 5px;
  letter-spacing: 5px;
  font-weight: 100;
}
#brands h4 img {
  height: 20px;
}

.brandItem {
  background: #e8e8e8;
}
.brandItem .hover {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
}
.brandItem1 .hover {
  background-image: url(../images/main/mainBrandBg1.png);
  background-position: right top;
}
.brandItem2 .hover {
  background-image: url(../images/main/mainBrandBg2.png);
  background-position: left top;
}
.brandItem3 .hover {
  background-image: url(../images/main/mainBrandBg3.png);
  background-position: right -200px top 10px;
  background-size: auto 100%;
}
.brandItem4 .hover {
  background-image: url(../images/main/mainBrandBg4.png);
  background-position: left bottom;
}
.brandItem5 .hover {
  background-image: url(../images/main/mainBrandBg5.png);
  background-position: left bottom;
}
.brandItem6 .hover {
  background-image: url(../images/main/mainBrandBg6.png);
  background-position: left top;
}

#cs,
#as,#insta {
  margin-top: var(--margin-2);
}
#cs .titBox h3,
#as .titBox h3, 
#insta h3 {
  font-family: "Quicksand";
  font-size: 24px;
  color: var(--font-color-main);
  font-weight: 100;
  text-align: center;
}

#insta h3{
  margin-bottom: var(--margin-1);
}

#cs .itemWrap,
#as .itemWrap {
  margin-top: var(--margin-1);
}

#cs h3 br,
#as h3 br {
  display: none;
}
#cs .flower,
#as .flowerL,
#as .flowerR {
  display: none;
}
.csItem,
.asItem {
  margin-bottom: var(--margin-half);
  position: relative;
}

.csBg,
.asBg {
  width: 100%;
}

.csItem a,
.asItem a {
  display: block;
  width: 100%;
  height: 100%;
}
.csItem .txt,
.asItem .txt {
  position: absolute;
  top: var(--margin-half);
  left: var(--margin-half);
}
.csItem h4,
.asItem h4 {
  font-size: 22px;
  font-weight: 100;
  font-family: "Qicksand";
  color: var(--font-color-main);
  line-height: 1;
}

.csItem p,
.asItem p {
  color: var(--font-color-sub);
  font-size: 12px;
}

#insta .box .inner{
  width: 200px;
  height: 200px;
  background-color: pink;
}


footer {
  margin-top: var(--margin-4);
  background-color: var(--font-color-main);
  color: #eee;
  padding: var(--margin-1) 0;
}

.fWrap {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  padding: 0 var(--margin-2);
}
footer h1 {
  text-align: left;
}

footer h1 img {
  height: 40px;
}
address {
  margin-top: var(--margin-1);
  font-style: normal;
}

address span {
  display: block;
}
