.subBn {
  background-color: var(--sub-color);
  position: relative;
  background-size: cover;
  background-position: center;
  margin-top: 60px;
}

.subBn:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.subBn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
  background-repeat: no-repeat;
  background-size: cover;
}

.subBn h2 img {
  height: 10px;
  display: block;
}
h3.subPageLogo {
  text-align: center;
  margin-bottom: var(--margin-1);
}
h3.subPageLogo img {
  width: 100px;
}
p.subPageTit {
  text-align: center;
  margin-bottom: var(--margin-1);
}

p.subPageTitSub {
  text-align: center;
  margin-top: var(--margin-2);
}

p.subPageTitSub span {
  display: block;
  margin-bottom: var(--margin-half);
}
p.subPageTit span {
  display: block;
  margin-bottom: var(--margin-half);
}
main {
  padding: 0 var(--margin-1);
  margin-top: var(--margin-1);
}

h3.divTit {
  background-color: var(--main-color-medium);
  font-weight: normal;
  color: #fff;
  font-weight: 1rem;
  padding: 5px 0;
  text-indent: 6px;
  margin-bottom: var(--margin-1);
}

h3.subLogo {
  max-width: 1144px;
  text-align: center;
  margin: var(--margin-1) auto;
}

img.subDivider {
  width: 120px;
  display: block;
  margin: 0 auto var(--margin-1);
}

.storeWrap2 {
  margin-bottom: var(--margin-2);
  display: flex;
  flex-direction: column;
}
.txt h4 {
  font-family: "irk";
}

.subBnStore {
  background-image: url(../images/bgStore.jpg);
}
#store .txt {
  text-align-last: center;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  padding: var(--margin-2) 0;
  position: relative;
  margin-bottom: var(--margin-1);
}

#store .txt:after {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  border: 1px solid var(--main-color-light);
}
#store .txtWrap {
  position: relative;
  z-index: 2;
}
#store .tel {
  font-size: 2rem;
  color: var(--font-color-main);
  margin: var(--margin-1) 0;
}

#store .tel strong {
  font-size: 1rem;
}

#store .sublogo {
  width: 150px;
}

#store .store {
  font-weight: bold;
}
#store .address {
  color: var(--font-color-sub);
}
#store .insta {
  margin-top: var(--margin-1);
}

#store .level1,
#store .level2 {
  display: flex;
  margin-bottom: var(--margin-1);
  height: 180px;
}
#store .item {
  width: 50%;
  background-color: var(--sub-color);
  margin-right: var(--margin-1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
#store .item:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.3s;
  opacity: 0;
  cursor: pointer;
}
#store .item:hover:after {
  opacity: 1;
}
#store .item:last-child {
  margin-right: 0;
}

#store .item span {
  font-size: 0;
  display: block;
  text-indent: -9999px;
}

#store .photo {
  order: 2;
}

#store .gwangju .item1 {
  background-image: url(../images/gwangju1.png);
}
#store .gwangju .item2 {
  background-image: url(../images/gwangju2.png);
}
#store .gwangju .item3 {
  background-image: url(../images/gwangju3.png);
}
#store .gwangju .item4 {
  background-image: url(../images/gwangju4.png);
}
#store .gwangju .item5 {
  background-image: url(../images/gwangju5.png);
}

#store .busan .item1 {
  background-image: url(../images/busan1.png);
}
#store .busan .item2 {
  background-image: url(../images/busan2.png);
}
#store .busan .item3 {
  background-image: url(../images/busan3.png);
}
#store .busan .item4 {
  background-image: url(../images/busan4.png);
}
#store .busan .item5 {
  background-image: url(../images/busan5.png);
}

#store .view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 999;
  display: none;
}

#store .view .closeWrap {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
}
#store .view figure {
  width: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#store .view figure img {
  width: 100%;
}

#store .view .close {
  position: absolute;
  top: 20px;
  right: 20px;
  text-decoration: underline;
  color: var(main-color);
  cursor: pointer;
}
.subBnIntro {
  background-image: url(../images/bgIntro.jpg);
}
#intro h2 img {
  display: block;
  margin: 0 auto;
}
#intro .intrologo1 {
  width: 120px;
}

#intro .intrologo2 {
  width: 120px;
  text-align: center;
}
#intro h2 p {
  letter-spacing: 4px;
  font-size: 0.9rem;
  text-align: center;
  margin: var(--margin-1) 0;
}
#intro .divider {
  width: 160px;
  margin: var(--margin-1) auto;
}
#intro .subscription {
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

#intro .introTxt {
  margin: var(--margin-2) auto;
}

#intro .introWrap2 {
  margin-bottom: var(--margin-2);
  display: flex;
  flex-direction: column;
}

#intro .photo {
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#intro .photo1 {
  background-image: url(../images/busan4.png);
}

#intro .photo2 {
  background-image: url(../images/busan1.png);
}

#intro .txt {
  text-align: center;
  margin-top: var(--margin-2);
}

#intro .tit {
  margin-bottom: var(--margin-1);
  color: var(--font-color-point);
  font-weight: 600;
}

#intro .contxt {
  padding: 0 var(--margin-1);
}
#intro .contxt br {
  display: none;
}

#intro .introWrap3 {
  padding: 0 var(--margin-1);
}

#intro .keyword {
  border: 1px solid var(--main-color);
  margin-bottom: var(--margin-1);
  display: flex;
  padding: var(--margin-1);
  justify-content: space-between;
}

#intro .keyword h4 {
  color: var(--font-color-point);
  font-weight: 400;
  font-size: 20px;
  font-family: "quicksand";
}
#intro .keyword h4 span {
  color: var(--font-color-sub);
  margin-left: 5px;
  font-size: 14px;
}
#intro .keyword .eng {
  font-size: 0.8rem;
  color: var(--font-color-sub);
  margin-bottom: var(--margin-half);
}

#intro .keyword br {
  display: none;
}

#intro .keyword .icon {
  height: 80px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#intro .keyword .icon::after {
  content: "";
  width: 60px;
  height: 60px;
  background-color: #fff2f2;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -30px;
  margin-top: -30px;
}
#intro .keyword .icon img {
  height: 50px;
  position: relative;
  z-index: 3;
}

#intro .keyword3 .icon img {
  height: 80px;
}

#intro .keyword .subs {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#intro .bnBox {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url(../images/bnBox.png);
  background-position: center;
  background-size: cover;
}
#intro .bnBox:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

#intro .bnTxt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  z-index: 2;
}

#intro .bnTxt:after,
#intro .bnTxt:before {
  content: "";
  width: 180px;
  height: 20px;
  background: url(../images/frame2.svg) no-repeat 0 0 / 180px auto;
  display: block;
  margin: var(--margin-1) 0;
}

#intro .bnBox .copyright {
  color: rgba(255, 255, 255, 0.5);
  z-index: 2;
}

.subBnLily {
  background-image: url(../images/brands/subBnLily.jpg);
}
.subBnSoul {
  background-image: url(../images/brands/subBnSoul.jpg);
}
.subBnMano {
  background-image: url(../images/brands/subBnMano.jpg);
}
.subBnLestia {
  background-image: url(../images/brands/subBnLestia.jpg);
  background-position: center bottom;
}
.subBnMinjun {
  background-image: url(../images/brands/subBnMinjun.jpg);
}
.subBnKlimt {
  background-image: url(../images/brands/subBnKlimt.jpg);
}

#brand .subPageLogo {
  margin-top: var(--margin-2);
}
#brand .subPageLogo img {
  width: 150px;
}

#brand .txtBox {
  color: var(--font-color-sub);
  text-align: center;
  font-size: 0.9rem;
  border-bottom: 1px solid var(--main-color-light);
  padding-bottom: var(--margin-1);
  margin-bottom: var(--margin-1);
}

#brand .subTxt p {
  letter-spacing: 1px;
}

#brand .view {
}
#brand .viewList {
  justify-content: space-between;
  margin-top: var(--margin-half);
}
#brand .viewList .box {
  padding: 5px;
}
#brand .viewList .box a {
  display: block;
  width: 50px;
  height: 50px;
  background-color: var(--sub-color);
}

#brand .subTxt {
  font-size: 0.9rem;
  text-align: center;
  margin-top: var(--margin-2);
  line-height: 1.6;
}
#brand .subTxt span {
  display: block;
}
#brand .subTxt br {
  display: none;
}

#brand .viewImg img {
  width: 100%;
  vertical-align: top;
}

#brand .slick-dots {
  margin-top: 5px;
  margin-left: -5px;
  margin-right: -5px;
  display: flex;
  justify-content: center;
}
#brand .slick-dots li {
  list-style: none;
  display: inline-block;
  max-width: 112px;
  max-height: 56px;
  margin: 5px;
}
#brand .slick-dots li img {
  opacity: 0.5;
  width: 100%;
  height: auto;
}
#brand .slick-dots li.slick-active img {
  opacity: 1;
}

#brand .slick-prev {
  position: absolute;
  z-index: 99;
  bottom: -40px;
  right: 50%;
  margin-right: 20px;
  width: 30px;
  height: 30px;
  background-image: url(../images/brands/btnPrev.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-indent: -9999px;
  background-color: transparent;
  border: 0;
}
#brand .slick-dots {
  display: none !important;
}

#brand .slick-next {
  position: absolute;
  z-index: 99;
  bottom: -40px;
  left: 50%;
  margin-left: 20px;
  width: 30px;
  height: 30px;
  background-image: url(../images/brands/btnNext.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-indent: -9999px;
  background-color: transparent;
  border: 0;
}

#brand .tit {
  font-family: "irk";
  color: var(--font-color-main);
  line-height: 1.4;
  font-size: 14px;
}

/* cs영역 공통*/

.csWrap {
  max-width: 1008px;
  margin: 0 auto;
}

.cs .subLogo {
  max-width: 1008px;
  margin-left: auto;
  margin-right: auto;
}
.cs .subLogo img {
  height: 15px;
  max-width: 100%;
}

.csWrap .box {
  margin-bottom: var(--margin-2);
  display: flex;
  flex-direction: column;
}

.csWrap .photo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  order: 2;
}

.csWrap .photo div {
  width: 100%;
  height: 60vw;
  background: pink;
  border: 10px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  position: relative;
  margin-bottom: 6px;
}

.csWrap .photo div:before {
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  position: absolute;
  top: -5px;
  left: -5px;
  border: 1px solid #fff;
  content: "";
}

.csWrap .box .txt {
  text-align: center;
  color: var(--font-color-main);
  margin: var(--margin-1) 0;
  font-size: 14px;
  letter-spacing: 1px;
}

.csWrap .box .subImg {
  order: 3;
}
.csWrap .box .txt h4 {
  margin-bottom: var(--margin-half);
}

.csWrap .box .txt p {
  font-size: 12px;
  color: var(--font-color-sub);
}

.csWrap .box .txt p br {
  display: none;
}

/* after service 페이지 */

.subBnAs {
  background-image: url(../images/as/bg_as.png);
}
#as .subLogo {
  background-image: url(../images/as/bg_as.png);
  padding: var(--margin-half) 0;
  background-position: left -140px center;
  background-size: 150% auto;
  background-repeat: no-repeat;
}

#as .photo div {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150%;
}

#as .box1 .photo1 {
  background-image: url(../images/as/as_img1.png);
}
#as .box1 .photo2 {
  background-image: url(../images/as/as_img2.png);
}
#as .box2 .photo1 {
  background-image: url(../images/as/as_img3.png);
}
#as .box2 .photo2 {
  background-image: url(../images/as/as_img4.png);
}
#as .box3 .photo1 {
  background-image: url(../images/as/as_img5.png);
}
#as .box3 .photo2 {
  background-image: url(../images/as/as_img6.png);
}
#as .box4 .photo1 {
  background-image: url(../images/as/as_img7.png);
}
#as .box4 .photo2 {
  background-image: url(../images/as/as_img8.png);
}

/* after service 페이지 */

.subBnCase {
  background-image: url(../images/case/bg_case.png);
}
#case .subLogo {
  background-image: url(../images/case/bg_case.png);
  padding: var(--margin-half) 0;
  background-position: left -140px center;
  background-size: 150% auto;
  background-repeat: no-repeat;
}

#case .photo div {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150%;
}

#case .box1 .photo1 {
  background-image: url(../images/case/case_img1.png);
}
#case .box1 .photo2 {
  background-image: url(../images/case/case_img2.png);
}

#case .subImg .mainImg {
  display: block;
  margin-top: var(--margin-2);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#case .subImg .copyLogo {
  width: 50%;
  display: block;
  margin: 0 auto;
}

#case .box2 .txt {
  order: 2;
}

/* signature 페이지 */

.subBnSig {
  background-image: url(../images/sig/bg_sig.png);
}
#sig .subLogo{
  background-image: url(../images/sig/bg_sig.png);
  padding: var(--margin-half) 0;
  background-position: left -140px center;
  background-size: 150% auto;
  background-repeat: no-repeat;
}
#sig .box1 .photo1 {
  background-image: url(../images/sig/sig_img1.png);
}
#sig .box1 .photo2 {
  background-image: url(../images/sig/sig_img2.png);
}
#sig .box1 .photo3 {
  background-image: url(../images/sig/sig_img3.png);
}
#sig .box1 .photo4 {
  background-image: url(../images/sig/sig_img4.png);
}
#sig .box2 .photo1 {
  background-image: url(../images/sig/sig_img5.png);
}
#sig .box2 .photo2 {
  background-image: url(../images/sig/sig_img6.png);
}
#sig .box2 .photo3 {
  background-image: url(../images/sig/sig_img7.png);
  background-position: center top -10px;
}

#sig .box3 .photo1 {
  background-image: url(../images/sig/sig_img8.png);
}
#sig .box3 .photo2 {
  background-image: url(../images/sig/sig_img9.png);
}
#sig .box3 .photo3 {
  background-image: url(../images/sig/sig_img10.png);
}
#sig .box3 .photo4 {
  background-image: url(../images/sig/sig_img11.png);
}

#sig .box4 .photo1 {
  background-image: url(../images/sig/sig_img12.png);
}
#sig .box4 .photo2 {
  background-image: url(../images/sig/sig_img13.png);
}
#sig .box4 .photo3 {
  background-image: url(../images/sig/sig_img14.png);
}
#sig .box4 .photo4 {
  background-image: url(../images/sig/sig_img15.png);
}

#sig .photo div {
  background-size: 135% auto;
  background-repeat: no-repeat;
  background-position: center;
}

/* effect 페이지 */

.subBnEffect {
  background-image: url(../images/effect/bg_effect.png);
}

#effect .subLogo {
  background-image: url(../images/effect/bg_effect.png);
  padding: var(--margin-half) 0;
  background-position: left -140px center;
  background-size: 150% auto;
  background-repeat: no-repeat;
}

#effect .box1 .photo1 {
  background-image: url(../images/effect/eff_img1.png);
}
#effect .box1 .photo2 {
  background-image: url(../images/effect/eff_img2.png);
}

#effect .photo div {
  background-position: center;
  background-size: cover;
}

#effect .box1 .txt span {
  display: block;
  margin-bottom: var(--margin-half);
}
#effect .row {
  margin-bottom: var(--margin-2);
  text-align: center;
}
#effect .row h5 {
  font-size: 14px;
  color: var(--font-color-main);
}

#effect .row h5 strong {
  margin-right: 6px;
}

#effect .row1 h5 strong {
  color: #be1e2d;
}
#effect .row2 h5 strong {
  color: #92278f;
}
#effect .row3 h5 strong {
  color: #1da1dc;
}
#effect .row4 h5 strong {
  color: #37795a;
}
#effect .row5 h5 strong {
  color: #ed1c24;
}
#effect .row6 h5 strong {
  color: #5ca23a;
}
#effect .row7 h5 strong {
  color: #2e3192;
}
#effect .row8 h5 strong {
  color: #cc5b44;
}

#effect .row h5 span {
  font-weight: normal;
}
#effect .row p {
  font-size: 12px;
  color: var(--font-color-sub);
  margin-bottom: var(--margin-half);
  line-height: 1.6;
}

#effect .row article {
  letter-spacing: 1px;
  line-height: 1.4;
  font-size: 14px;
  text-align: left;
}
#effect .row .pic {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--margin-half);
}
#effect .row .pic div {
  width: calc(50% - 6px);
  height: 30vw;
  position: relative;
  margin-bottom: 6px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#effect .row1 .pic1 {
  background-image: url(../images/effect/gem_img1.png);
}
#effect .row1 .pic2 {
  background-image: url(../images/effect/gem_img2.png);
}
#effect .row2 .pic1 {
  background-image: url(../images/effect/gem_img3.png);
}
#effect .row2 .pic2 {
  background-image: url(../images/effect/gem_img4.png);
}
#effect .row3 .pic1 {
  background-image: url(../images/effect/gem_img5.png);
}
#effect .row3 .pic2 {
  background-image: url(../images/effect/gem_img6.png);
}
#effect .row4 .pic1 {
  background-image: url(../images/effect/gem_img7.png);
}
#effect .row4 .pic2 {
  background-image: url(../images/effect/gem_img8.png);
}
#effect .row5 .pic1 {
  background-image: url(../images/effect/gem_img9.png);
}
#effect .row5 .pic2 {
  background-image: url(../images/effect/gem_img10.png);
}
#effect .row6 .pic1 {
  background-image: url(../images/effect/gem_img11.png);
}
#effect .row6 .pic2 {
  background-image: url(../images/effect/gem_img12.png);
}
#effect .row7 .pic1 {
  background-image: url(../images/effect/gem_img13.png);
}
#effect .row7 .pic2 {
  background-image: url(../images/effect/gem_img14.png);
}
#effect .row8 .pic1 {
  background-image: url(../images/effect/gem_img15.png);
}
#effect .row8 .pic2 {
  background-image: url(../images/effect/gem_img16.png);
}

/* insta */
.subBnInsta {
  background-image: url(../images/bginsta.jpg);
}
.instaWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1144px;
  margin-left: auto;
  margin-right: auto;
}

#insta .item {
  width: calc(50vw - 30px);
  height: calc(50vw - 30px);
  background-color: pink;
  margin-bottom: var(--margin-half);
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.goToInsta {
  width: 200px;
  line-height: 42px;
  border: 0;
  background-color: var(--main-color-medium);
  font-size: 18px;
  color: #fff;
  font-family: "quicksand";
  font-weight: 100;
  text-align: center;
  margin: var(--margin-2) auto 0;
  display: block;
}

/*reservation*/
.subBnReserv{
  background-image: url(../images/bnReserve.jpg);
}

#reserv{
  max-width: 1008px;
  margin-left: auto;
  margin-right: auto;
}

#reserv form:after{
  content: '';
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  position: absolute;
  top:10px;
  box-sizing: border-box;
  left: 10px;
  border:1px solid var(--main-color-light);
  border-radius: 5px;
}

#reserv form{
  background-color: rgb(253, 252, 251);
  border-radius: 5px;
  padding:var(--margin-2);
  position: relative;
}

#reserv form div{
  position: relative;
  display: flex;  
  margin-bottom:var(--margin-1);
  justify-content: space-between;
  z-index: 2;
}

#reserv form div:nth-child(4){
  margin-bottom: var(--margin-2);
}
#reserv label{
  font-family: 'irk';
  font-size: 16px;
  width: 80px;
  letter-spacing: 4px;
}

#reserv div:nth-child(5) label{
  letter-spacing: 1px;
}
#reserv input[type=text]{
  border: 0;
  border-bottom: 1px solid var(--main-color-medium);
  background-color: transparent;
  width: calc(100% - 100px);
  color: var(--font-color-sub);

}

#reserv textarea{
  height: 100px;
  border: 1px solid var(--main-color-medium);
  background-color: transparent;
  width: calc(100% - 100px);
  color: var(--font-color-sub);

}

#reserv .submit{
  width: 140px;
  line-height: 42px;
  border: 0;
  background-color: var(--main-color-medium);
  font-size: 14px;
  color: #fff;
  font-family: "irk";
  font-weight: 100;
  text-align: center;
  margin: var(--margin-2) auto 0;
  display: block;
}