@media all and (min-width: 768px) {
  .subBn h2 {
    line-height: 150px;
  }

  #intro .introWrap3 {
    display: flex;
    justify-content: space-between;
  }
  #intro .keyword {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    width: 31%;
  }

  #intro .keyword h4 {
  }
  #intro .keyword h4 span {
    display: block;
  }
  #intro .keyword .eng {
    line-height: normal;
    margin: var(--margin-half) 0 var(--margin-1);
  }

  #brand .subPageLogo img {
    width: 250px;
  }

  #brand .txtBox {
    margin-bottom: var(--margin-3);
  }
  #brand .imgBox {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
  #brand .subTxt br {
    display: block;
  }
  #brand .subTxt span {
    display: inline;
  }
  #brand .viewList .box a {
    display: block;
    width: 100px;
    height: 100px;
    background-color: var(--sub-color);
  }

  /* cs공통영역 */
  .cs .subLogo {
    margin-top: var(--margin-4);
    margin-bottom: var(--margin-3);
  }
  .cs .subLogo img {
    height: 20px;
    max-width: 100%;
  }

  .csWrap .box {
    margin-bottom: var(--margin-2);
  }

  .csWrap .photo {
    order: 1;
  }

  .csWrap .photo div:nth-child(1),
  .csWrap .photo div:nth-child(2) {
    margin-bottom: var(--margin-1);
  }

  .csWrap .photo div {
    width: calc(50% - 12px);
    height: 20vw;
  }

  .csWrap .box .txt {
    margin: var(--margin-2) 0;
    letter-spacing: 1px;
    order: 2;
  }

  .csWrap .box .txt h4 {
    margin-bottom: var(--margin-half);
    font-size: 16px;
  }

  .csWrap .box .txt p {
    font-size: 14px;
    line-height: 1.6;
  }

  .csWrap .box .txt p br {
    display: block;
  }

  /*case 고유영역*/

  #case .subImg .mainImg {
    display: block;
    margin-top: var(--margin-2);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  #case .subImg .copyLogo {
    width: 30%;
    display: block;
    margin: 0 auto var(--margin-4);
  }

  /* sig 고유영역 */

  #sig .longer {
    width: 100%;
  }

  /* effect stone 고유영역 */

  #effect .subLogo {
    background-image: url(../images/effect/bg_effect.png);
    padding: var(--margin-half) 0;
    background-position: left -140px center;
    background-size: 150% auto;
    background-repeat: no-repeat;
  }

  #effect .box1 .txt span {
    display: block;
    margin-bottom: var(--margin-half);
  }

  #effect .box2 .txt {
    order: 1;
  }
  #effect .box2 .boxWrap {
    order: 2;
  }
  #effect .row {
    margin-bottom: var(--margin-2);
    text-align: left;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding-bottom: var(--margin-1);
  }

  #effect .row:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }
  #effect .row h5 {
    font-size: 14px;
    color: var(--font-color-main);
  }

  #effect .row h5 span {
    font-weight: normal;
  }
  #effect .row p {
    font-size: 12px;
    color: var(--font-color-sub);
    margin-bottom: var(--margin-half);
    line-height: 1.6;
  }

  #effect .row article {
    letter-spacing: 1px;
    line-height: 1.4;
    font-size: 14px;
    text-align: left;
  }
  #effect .row .pic {
    width: calc(40% - 12px);
    margin-bottom: var(--margin-half);
  }
  #effect .row .pic div {
    width: calc(50% - 6px);
    height: 10vw;
    position: relative;
    margin-bottom: 6px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #effect .row .detail {
    width: calc(60% - 12px);
  }

  /* Brands */

  #brand .slick-prev {
    bottom: unset;
    right: unset;
    left: -80px;
    top: 50%;
    margin-right: 0px;
    margin-top: -25px;
    width: 50px;
    height: 50px;
  }
  #brand .slick-dots {
    display: flex !important;
  }

  #brand .slick-next {
    bottom: unset;
    left: unset;
    right: -80px;
    top: 50%;
    margin-left: 0px;
    margin-top: -25px;
    width: 50px;
    height: 50px;
  }

  /* insta */

  #insta .item {
    width: calc(25% - 16px);
    background-color: pink;
    margin-bottom: var(--margin-1);
  }

  /*reservation*/
  #reserv .imgBox img{
    width: 40%;
  }
  #reserv .imgBox{
    margin-bottom: var(--margin-3);
  }
  
  
  #reserv .imgBox h3{
    margin-top: var(--margin-2);
  }
  
  #reserv .imgBox p{
    font-size: 14px;
  }
  
#reserv label{
  width:100px;
  letter-spacing: 10px;
}

#reserv input[type=text]{
  width: calc(100% - 120px);
  line-height: 30px;
}

#reserv textarea{
  height: 150px;
  border: 1px solid var(--main-color-medium);
  background-color: transparent;
  width: calc(100% - 120px);
  color: var(--font-color-sub);

}

#reserv .submit{
  width: 140px;
  line-height: 42px;
  border: 0;
  background-color: var(--main-color-medium);
  color: #fff;
  margin: var(--margin-2) auto 0;
  display: block;
}


#review .pImg{
  width: 10%;
}

#review .pTxt{
  width: 90%;
}

#review .pInfo{
  display: flex;
  margin-top: 6px;
}

#review .pDate{
  font-size: 12px;
  margin-left: var(--margin-half);
  width: 150px;
flex: 0;

}
#review .pCust{
  color: var(--font-color-sub);
  font-size: 12px;
  width: 150px;
  flex: 0;

}
#review .pRate{
  margin-left: 40px;
}

#review .row:hover .reviewTxt{
  text-decoration: underline;
}

} /*괄호끝*/
