@media screen and (min-width: 768px) {

  .fWrap {
    flex-direction: row;
    align-items: center;
  }

  address {
    margin-left: var(--margin-2);
  }
  address span {
    margin-left: var(--margin-1);
    display: inline;
  }
}
